name: Gleam
description: Run Gleam Tests

on:
  workflow_call:

jobs:
  test:
    name: Gleam
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup BEAM Environment
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1
        with:
          version-file: .tool-versions
          version-type: strict

      - name: Restore Build Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: |
            ~/.cache/gleam
            build
          key: ${{ runner.os }}-gleam-${{ hashFiles('**/gleam.toml') }}
          restore-keys: |
            ${{ runner.os }}-gleam-

      - name: Download Dependencies
        run: gleam deps download

      - name: Run Tests
        run: gleam test
