name: Prettier
description: Check Prettier Formatting

on:
  workflow_call:
    inputs:
      prettier-version:
        required: false
        type: string
        default: "latest"
      check-path:
        required: false
        type: string
        default: "."

jobs:
  format:
    name: Prettier
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: latest

      - name: Check Formatting
        run: npx prettier@${{ inputs.prettier-version }} --check ${{ inputs.check-path }}
