name: Prettier
description: Check Prettier Formatting

on:
  workflow_call:
    inputs:
      prettier-version:
        required: false
        type: string
        default: "latest"
      check-path:
        required: false
        type: string
        default: "."

jobs:
  format:
    name: Prettier
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest

      - name: Check Formatting
        run: npx prettier@${{ inputs.prettier-version }} --check ${{ inputs.check-path }}
